<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
    <form action="#" th:action="@{product-create}" th:object="${product}" method="post">
        <label for="productName">Product Name</label>
        <input type="text" th:field="*{productName}" id="productName" placeholder="Product Name">
        <br/>
        <label for="price">Price</label>
        <input type="number" th:field="*{price}" id="price" placeholder="Price">
        <br/>
        <input type="submit" value="Create Product">
    </form>
</body>
</html>